<section class="{{::$ctrl.styles.list}}">
    <header class="{{::$ctrl.styles.header}}">
        <div class="ui black ribbon label {{::$ctrl.styles.label}}">
            <i class="tag icon"></i> Search By Label
        </div>
        <div>
            <div class="ui small input">
                <input class="{{::$ctrl.styles.search}}" ng-init="item = {}" ng-model="$ctrl.search.label" ng-model-options="{ debounce: 500 }"
                    type="text">
            </div>

            <a class="ui inverted orange labeled icon button {{::$ctrl.styles.addpass}}" href="#/edit">
                <i class="lock icon"></i> Add password
            </a>
        </div>
    </header>
    <div class="{{::$ctrl.styles.table}}">
        <table-head head-style="$ctrl.styles.head"></table-head>
        <table-body body-style="$ctrl.styles.body">
            <table-row ng-repeat="item in $ctrl.passwords | filter:$ctrl.search" row-style="$ctrl.styles.row" data="item" edit-link="#/edit/{{item.id}}"
                remove="$ctrl.remove(item.id)"></table-row>
        </table-body>
    </div>
</section>