.editpass {
    margin: 0 auto;
    width: 70%;
    border: 1px solid #1b1b1b;
    background: #3d3d3d url('../../../assets/img/classy-fabric.png');
    padding: .5rem 2rem;
    border-radius: 4px;
}
.holder {
    margin-bottom: 1rem;
    & .label {
        left: -15px !important;
    }
    & input.input, & .textarea {
        background: #6f6e6e;
        font-weight: bold;
    }
    & input.input:focus, & .textarea:focus {
        background: #fbfbfb url('../../../assets/img/bright-squares.png');
        border-color: #ff7701;
        color: rgba(0,0,0,.8);
        box-shadow: none;
    }
}

.holder:first-child, .holder:nth-child(2) {
    width: 50%;
}

.textarea {
    border-radius: .28571429rem;
    border: 1px solid rgba(34,36,38,.15);
    display: block;
    width: 100%;
}
