<section class="{{::$ctrl.styles.editpass}}">
    <div class="{{::$ctrl.styles.holder}}">
        <div class="ui black ribbon label {{::$ctrl.styles.label}}">
            <i class="tag icon"></i> Label
        </div>
        <div class="ui small fluid input {{::$ctrl.styles.input}}">
            <input class="{{::$ctrl.styles.input}}" ng-model="$ctrl.item.label" type="text">
        </div>
    </div>
    <div class="{{::$ctrl.styles.holder}}">
        <div class="ui black ribbon label {{::$ctrl.styles.label}}">
            <i class="lock icon"></i> Password
        </div>
        <div class="ui small fluid input {{::$ctrl.styles.input}}">
            <input class="{{::$ctrl.styles.input}}" ng-model="$ctrl.item.password" type="text">
        </div>
    </div>
    <div class="{{::$ctrl.styles.holder}}">
        <div class="ui black ribbon label {{::$ctrl.styles.label}}">
            <i class="info circle icon"></i> Description
        </div>
        <textarea rows="4" class="{{::$ctrl.styles.textarea}}" ng-model="$ctrl.item.description"></textarea>
    </div>
    <div class="ui buttons">
        <a href="#/" class="ui button inverted basic">Cancel</a>
        <div class="or"></div>
        <button ng-click="$ctrl.save()" class="ui inverted green basic button">Save</button>
    </div>
</section>